
 <!--    <div class="row col-xl-12">
        <p>add server name and blue print </p>
      <label for="exampleFormControlInput1">Server Element</label>
      <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="" [(ngModel)]="serverElement">
      <label for="exampleFormControlInput1"> Server Content</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="content"  [(ngModel)]="serverContent">
        <br>

      <button type="submit" class="btn btn-primary" (click)="addServer()">Add server</button>
      <button type="submit" class="btn btn-primary" (click)="addOnBluePrint()">Add  Blue print</button>

    </div> -->
    
     <p>Todays items: {{item}}</p>