<ng-container *ngFor="let item of productDetails" class="mt-4 pt-4">
  <div class="card mt-4" style="width: 18rem;">
    <div class="card-body">
      <img src={{item.img}} class="img-datails" alt="">
      <h5 class="card-title">{{item.ProductName}}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{item.ProductCost}}</h6>
      <p class="card-text">{{item.Category}}</p>
      <a href="#" class="card-link">{{item.description}}</a>
      <br>
      <button class="button btn-secondary" (click)="addToCart(item)" routerLink="/cart-info">Add to Cart</button>
    </div>
  </div>
</ng-container>



<hr>
<div class="row">
  <p>dropdown direcatives</p>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="dropdown appDropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Dropdown button
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
      </div>
    </div>
  </div>
</div>